%meta{charset: 'utf-8'}
%title
  - if content_for?(:title)
    #{yield_content(:title)} - blog.takuyan.com
  - else
    #{current_article.title + ' - ' unless current_article.nil?}blog.takuyan.com
- if current_article
  %meta{content: current_article.tags.join(","), name: "keywords"}
  %meta{content: Sanitize.clean(current_article.summary), name: "description"}
%meta{'http-equiv' => 'X-UA-Compatible',  content: 'IE=edge;chrome=1'}
%meta{"http-equiv" => "content-language", content: "ja"}
%meta{content: "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", name: "viewport"}
%meta{content: "telephone=no", name: "format-detection"}
%meta{content: "yes", name: "apple-mobile-web-app-capable"}
%meta{name: :author, content: "Takuya Kato"}
%meta{name: :copyright, content: "Takuya Kato"}

- # OG
%meta{property: "og:site_name", content: 'blog.takuyan.com'}
%meta{property: "og:locale", content: "ja_JP"}
- if is_blog_article?
  %meta{property: "og:image", content: "#{current_article.data.thumb}"}
- elsif blog.articles.length > 0
  %meta{property: "og:image", content: "#{blog.articles.first.data.thumb}"}

- if is_blog_article?
  %meta{property: "og:title", content: "#{current_article.title}"}
  %meta{property: "og:url", content: "http://blog.takuyan.com#{current_article.url}"}
  %meta{property: "og:type", content: "article"}
  %meta{property: "og:url", content: "http://blog.takuyan.com"}
- else
  %meta{property: "og:title", content: "blog.takuyan.com"}
  %meta{property: "og:url", content: "http://blog.takuyan.com"}
  %meta{property: "og:type", content: "blog"}

= stylesheet_link_tag 'application'
%link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel: "stylesheet"}
%link{rel: "alternate", type: "application/rss+xml", title: "Blog Takuyan Com RSS 2.0 Feed", href: "/feed.xml"}
%link{rel: "icon", type: "image/x-icon", href: "/images/favicon.png"}
