!!!
%html{lang: :ja}
  %head
    = partial 'layouts/head'
  %body
    = partial 'layouts/navigation'
    .container
      %header.header
        %h1
          - if content_for?(:header)
            = yield_content :header
          - else
            = link_to 'https://twitter.com/katton', target: :_blank do
              = tag :img, src: '/images/portfolio/image.jpg', class: 'img-circle'
            = link_to '/' do
              blog.takuyan.com

      .row
        .col-md-8.col-md-offset-2
          = yield

    = partial 'layouts/footer'

    - if content_for?(:js)
      = yield_content :js
