---
pageable: true
per_page: 10
---

.articles
  - page_articles.each_with_index do |article, i|
    .article_info
      .article_title
        %h2
          = link_to article.title, article
      .help-block
        %span.label.label-default
          = article.date.strftime('%Y-%m-%d')

      .article_body
        = article.summary

- if paginate && num_pages > 1
  %ul.pager
    - if prev_page
      %li.previous
        = link_to prev_page do
          %i.fa.fa-chevron-left
          Prev

    - if next_page
      %li.next
        = link_to next_page do
          %i.fa.fa-chevron-right
          Next
