---
pageable: true
per_page: 10
---

.articles
  - page_articles.each_with_index do |article, i|
    .article_info
      .article_title
        %h2
          = link_to article.title, article, tabindex: (i + 1)
      .help-block
        %span.date
          = article.date.strftime('%Y-%m-%d')
        .article_tags
          - article.tags.each do |t|
            = link_to t, tag_path(t)

      - if article.data.thumb
        .main_image
          = link_to article do
            = tag :img, src: article.data.thumb, class: 'img-rounded img-responsive', alt: article.title
      .article_body
        = article.summary

      .goto_article
        = link_to article do
          %i.fa.fa-chevron-right
          続きを読む

- if paginate && num_pages > 1
  %ul.pager
    - if prev_page
      %li.previous
        = link_to prev_page do
          %i.fa.fa-chevron-left
          Prev

    - if next_page
      %li.next
        = link_to next_page do
          %i.fa.fa-chevron-right
          Next
